@media screen and (max-width: 992px) {
    .about_me_box{
        position: relative;
        display: block;
        background: rgb(251, 251, 251);
        padding: 10px;
        margin: 0;
    }
    
}
/* 除了手机端 */
@media screen and (min-width:992px) {
    .about_me_box{
        position: relative;
        display: block;
        background: rgb(251, 251, 251);
        border-radius: 0.5rem;
        padding: 10px;
        margin: 0 80px;
        box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        border: 1px solid black;
    }    
}